<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>ParadellEditor</title>

    <!-- Style -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style.css" />

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container">
          <!-- Control Buttons -->
          <nav class="level">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <a class="title" href=".">
                  Paradell<span style="color: #6a5acd">Editor</span>
                </a>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <p class="level-item">
                <a class="button is-danger is-outlined" @click="clear">
                  <span>Clear</span>
                  <span class="icon is-small">
                    <i class="fas fa-eraser"></i>
                  </span>
                </a>
              </p>
              <p class="level-item">
                <a class="button is-success is-outlined" @click="share">
                  <span>Share</span>
                  <span class="icon is-small">
                    <i class="fas fa-share"></i>
                  </span>
                </a>
              </p>
            </div>
          </nav>

          <!-- Notifications -->
          <div v-if="notification">
            <div class="notification is-warning is-light">
              <button class="delete" @click="notification=false;"></button>
              {{ notification }}
              <a target="_blank" :href="shareUrl">Link</a>
            </div>
          </div>

          <!-- Navigation Tabs -->
          <div class="tabs is-boxed">
            <ul>
              <li
                :class="[mode === 'compose' ? 'is-active' : '']"
                @click="mode='compose'"
              >
                <a>
                  <span class="icon is-small"
                    ><i class="fas fa-feather" aria-hidden="true"></i
                  ></span>
                  <span>Compose</span>
                </a>
              </li>
              <li
                :class="[mode === 'view' ? 'is-active' : '']"
                @click="mode='view'"
              >
                <a>
                  <span class="icon is-small"
                    ><i class="fas fa-book-open" aria-hidden="true"></i
                  ></span>
                  <span>View</span>
                </a>
              </li>
              <li
                :class="[mode === 'load' ? 'is-active' : '']"
                @click="mode='load'"
              >
                <a>
                  <span class="icon is-small"
                    ><i class="fas fa-paste" aria-hidden="true"></i
                  ></span>
                  <span>Load</span>
                </a>
              </li>
            </ul>
          </div>

          <!--  Compose  -->
          <div v-show="mode === 'compose'">
            <!--  Title & Author -->
            <div class="columns">
              <div class="column is-half">
                <div class="box has-background-white-ter">
                  <input
                    class="input is-static title-input"
                    type="text"
                    v-model="title"
                    placeholder="Title"
                  />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="author"
                    placeholder="Author"
                  />
                </div>
              </div>
            </div>

            <!--  First Stanza  -->
            <div class="columns">
              <div class="column">
                <div class="box">
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l1"
                    placeholder="Click here to begin writing the first stanza..."
                  />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l1"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l3" />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l3"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l5" />
                  <input class="input is-static" type="text" v-model="l6" />
                </div>
              </div>
              <div class="column">
                <div>
                  <div class="tags">
                    <span
                      v-for="(word, index) in s1upper"
                      v-bind:class="{tag: true, 'is-success': s1used[index] }"
                    >
                      {{ word }}
                    </span>
                    <span v-for="word in s1extra" class="tag is-danger"
                      >{{ word }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Second Stanza -->
            <div class="columns">
              <div class="column">
                <div class="box">
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l7"
                    placeholder="Second stanza..."
                  />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l7"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l9" />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l9"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l11" />
                  <input class="input is-static" type="text" v-model="l12" />
                </div>
              </div>
              <div class="column">
                <div class="">
                  <div class="tags">
                    <span
                      v-for="(word, index) in s2upper"
                      v-bind:class="{tag: true, 'is-success': s2used[index] }"
                    >
                      {{ word }}
                    </span>
                    <span v-for="word in s2extra" class="tag is-danger"
                      >{{ word }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Third Stanza -->
            <div class="columns">
              <div class="column">
                <div class="box">
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l13"
                    placeholder="Third stanza..."
                  />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l13"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l15" />
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l15"
                    disabled
                  />
                  <input class="input is-static" type="text" v-model="l17" />
                  <input class="input is-static" type="text" v-model="l18" />
                </div>
              </div>
              <div class="column">
                <div class="">
                  <div class="tags">
                    <span
                      v-for="(word, index) in s3upper"
                      v-bind:class="{tag: true, 'is-success': s3used[index] }"
                    >
                      {{ word }}
                    </span>
                    <span v-for="word in s3extra" class="tag is-danger"
                      >{{ word }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Fourth Stanza -->
            <div class="columns">
              <div class="column">
                <div class="box">
                  <input
                    class="input is-static"
                    type="text"
                    v-model="l19"
                    placeholder="Final stanza..."
                  />
                  <input class="input is-static" type="text" v-model="l20" />
                  <input class="input is-static" type="text" v-model="l21" />
                  <input class="input is-static" type="text" v-model="l22" />
                  <input class="input is-static" type="text" v-model="l23" />
                  <input class="input is-static" type="text" v-model="l24" />
                </div>
              </div>
              <div class="column">
                <div class="">
                  <div class="tags">
                    <span
                      v-for="(word, index) in s4upper"
                      v-bind:class="{tag: true, 'is-success': s4used[index] }"
                      >{{ word }}
                    </span>
                    <span v-for="word in s4extra" class="tag is-danger"
                      >{{ word }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  View Mode  -->
          <div v-show="mode === 'view'">
            <div class="field">
              <div class="control">
                <textarea
                  class="textarea viewarea"
                  v-model="wholePoem"
                  rows="30"
                  readonly
                ></textarea>
              </div>
            </div>
          </div>

          <!--  Load Mode  -->
          <div v-show="mode === 'load'">
            <div class="columns">
              <div class="column">
                <div class="box">
                  <div class="field">
                    <div class="control">
                      <textarea
                        class="textarea loadarea"
                        v-model="poemInput"
                        rows="30"
                        :placeholder="getRandomExample()"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <!-- right side -->
              <div class="column">
                <div class="box">
                  <div class="field">
                    <p>
                      To get started you can copy/paste a paradelle then press
                      'load input', or load a random one.
                    </p>
                  </div>

                  <div class="level">
                    <div class="level-left">
                      <p class="level-item">
                        <a
                          class="button"
                          @click="loadFromInput(this.poemInput)"
                          :disabled="poemInput === ''"
                        >
                          <span>Load Input</span>
                          <span class="icon is-small">
                            <i class="fas fa-paste"></i>
                          </span>
                        </a>
                      </p>
                      <p class="level-item">
                        <a class="button" @click="loadRandom()">
                          <span>Load Random</span>
                          <span class="icon is-small">
                            <i class="fas fa-dice-five"></i>
                          </span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
