body,
input,
textarea,
span {
  /* font-family: "Courier New", monospace; */
  font-family: "Courier Prime", monospace;
}

input {
  caret-color: #6a5acd;
}

.title-input {
  font-weight: bold;
}

.viewarea {
  background-color: beige;
}
